//- include item.pug
mixin itemCard(item, baseurl)
    div(class='col s6 l3 xl3')
        div(class='card z-depth-5')
            .card-image
                img(src=baseurl + item.image)
                a(class='btn-floating halfway-fab waves-effect waves-light red')
                    i(class="material-icons") add
            .card-content
                p #{item.name}
                p #{item.price}
            //-.card-action    
                a(class='btn-floating btn-large waves-effect waves-light red')
                    i(class='material-icons') add