//- include master.pug
doctype html
//-include item.pug
include oneOrder.pug
html
    head
        include meta.pug
        title 36er Master
        include source.pug
    body
        include header.pug
        .row
            div(class='col s12 m12 l6 xl6')
                ul(class='collapsible')
                    each order, index in orders.food
                        +oneOrder(order, baseurl, index, 'local_dining', 'food')
            div(class='col s12 m12 l6 xl6')
                ul(class='collapsible')
                    each order, index in orders.drinks
                        +oneOrder(order, baseurl, index, 'local_bar', 'drinks')

        script
            include ../scripts/master.js